{% extends 'base.html.twig' %}

{% block title %}Edit ItemForImport{% endblock %}

{% block body %}
    <h1>Edit ItemForImport</h1>

    {{ include('item_for_import/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('item_for_import_index') }}">back to list</a>

    {{ include('item_for_import/_delete_form.html.twig') }}
{% endblock %}
