{% extends 'dashboard/index.html.twig' %}

{% block title %}Plans{% endblock %}

{% block content %}


<div>
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/code/src/Controller/PlanController.php'|file_link(0) }}">src/Controller/PlanController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/code/templates/plan/index.html.twig'|file_link(0) }}">templates/plan/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock content%}
