{% extends 'base.html.twig' %}

{% block title %}Import Item{% endblock %}

{% block body %}
    <h1>Import Item</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    
    <button type="submit" class="btn btn-success">Import</button>
    
    {{ form_end(form) }}

    <a href="{{ path('item_index') }}">back to list</a>
{% endblock %}
