{% extends 'base.html.twig' %}

{% block title %} My Orders {% endblock %}

{% block body %}
    <div class="main-wrapper">
        <div class="app" id="app">
            {% include('layouts/header.html.twig') %}
            {% include('layouts/aside-nav.html.twig') %}
            <div class="sidebar-overlay" id="sidebar-overlay"></div>
            <div class="sidebar-mobile-menu-handle" id="sidebar-mobile-menu-handle"></div>
            <div class="mobile-menu-handle"></div>
            <article class="content dashboard-page">
                {% block content %}
                <ebay-orders inline-template v-cloak>
                    <section class="section">
                        <div class="row sameheight-container">
                            <div class="col col-12 col-sm-12 col-md-12 col-xl-12 history-col">
                                <div class="card sameheight-item" data-exclude="xs" id="dashboard-history">
                                    {% if order_array|length != 0 %}
                                    <div class="card-header card-header-sm bordered">
                                        <div class="header-block">
                                            <h3 class="title">My Orders</h3>
                                        </div>
                                        <ul class="nav nav-tabs pull-right" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" href="#all-orders" role="tab" data-toggle="tab">All</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#not-shipped-orders" role="tab" data-toggle="tab">
                                                    Not Shipped <span style="color:red;"> ({{ count_not_shipped }}) </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card-block">
                                        <div class="tab-content">
                                            {% include('orders/all-orders.html.twig') %}
                                            {% include('orders/not-shipped-orders.html.twig') %}
                                        </div>
                                    </div>
                                    {% else %}
                                        <div class="container">
                                                <div class="col-md-12 mt-2">
                                                    <p class="text-center">You do not have any orders.</p>
                                                </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </section>
                </ebay-orders>
                {% endblock content %}
            </article>
        </div>
    </div>
    <!-- Reference block for JS -->
    <div class="ref" id="ref">
        <div class="color-primary"></div>
        <div class="chart">
            <div class="color-primary"></div>
            <div class="color-secondary"></div>
        </div>
    </div>
    </div>
{% endblock %}
