<div role="tabpanel" class="tab-pane fade" id="not-shipped-orders">
    <div role="tabpanel" class="tab-pane active fade show" id="all-orders">
        <ul class="item-list striped">
            <li class="item item-list-header">
                <div class="item-row">
                    <div class="item-col item-col-header fixed item-col-img xs"></div>
                    <div class="item-col item-col-header item-col-title">
                        <div>
                            <span>Name</span>
                        </div>
                    </div>
                    <div class="item-col item-col-header item-col-sales">
                        <div>
                            <span>Price</span>
                        </div>
                    </div>
                    <div class="item-col item-col-header item-col-stats">
                        <div class="no-overflow">
                            <span>Sell</span>
                        </div>
                    </div>
                    <div class="item-col item-col-header item-col-date">
                        <div>
                            <span>Paid</span>
                        </div>
                    </div>
                    <div class="item-col item-col-header item-col-actions">
                        <div>
                            <span>Shipping Details</span>
                        </div>
                    </div>
                </div>
            </li>
            {% for order in not_shipped %}
                <order :ebayorder="{{ order }}" :transaction="{{ order.TransactionArray }}"
                       :shipping="{{ order.ShippingAddress }}">
                </order>
            {%  endfor %}
        </ul>
    </div>
</div>