{% extends 'base.html.twig' %}

{% block title %} User Dashboard {% endblock %}

{% block body %}
    <div class="main-wrapper">
        <div class="app" id="app">
            {% include('layouts/header.html.twig') %}
            {% include('layouts/aside-nav.html.twig') %}
            <div class="sidebar-overlay" id="sidebar-overlay"></div>
            <div class="sidebar-mobile-menu-handle" id="sidebar-mobile-menu-handle"></div>
            <div class="mobile-menu-handle"></div>
            <article class="content dashboard-page">
                {% block content %}
                    <section class="section">

                    </section>
                {% endblock content %}
            </article>
        </div>
        {% include('layouts/footer.html.twig') %}
    </div>
{% endblock %}
